@import "../../variables";

.hotel-details {
  display: flex;
  align-items: center;
  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
    @media only screen and (max-width: $bp-small) {
      font-size: 1.5rem;
      padding: 1.5rem 1.5rem;
    }
  }
  &__stars {
    margin-right: auto;
    display: flex;
  }
  &__icon-star {
    width: 1.75rem;
    height: 1.75rem;
    color: $primary;
  }
  &__location {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }
  &__icon-location {
    margin-right: 0.5rem;
    color: $primary;
  }
  &__rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    background-color: $primary;
    color: $white;
    padding: 0 2.25rem;
    margin-left: 3rem;

    @media only screen and (max-width: $bp-small) {
      padding: 0 1.25rem;
      font-size: 1.25rem;
    }
  }
  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
  }
  &__rating-count {
    font-size: 1rem;
    text-transform: uppercase;
    @media only screen and (max-width: $bp-small) {
      display: none;
    }
  }
}
